
<div class="container mt-5">
  <div class="card bg-dark">


  <div class="row">
    <div class="col"></div>
    <div class="col-10 text-center">
      <h2 class="text-info pb-4">Login to your account</h2>
    <input  class="form-control" type="text" title="username" placeholder="username" #username/>
    <br/>
    <input class="form-control" type="password" title="password" placeholder="password" #password/>
    <br/>
    <button (click)="login(username,password)" type="submit" class="btn btn-primary mb-3">Login</button>
    </div>
    <div class="col"></div>
  </div>
  </div>
</div>

