# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Aukcio.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Roolli\RiderProjects\Aukcio\.idea\.idea.Aukcio\.idea/dataSources/
/dataSources.local.xml
